{% extends 'base.html' %}
{% block titulo %} Ticket {% endblock %}
{% block body %}
<div class="card-header">
    <h1>Detalle de Órdenes</h1>
    <a class="btn btn-primary" href="{% url 'crear_detalle_orden' %}" role="button">Crear Detalle de Orden</a>
</div>
<br>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Orden ID</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalle_ordenes %}
            <tr>
                <td>{{ detalle.id }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.producto }}</td>
                <td>{{ detalle.orden.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}