{% extends 'base.html' %}
{% block titulo %} Productos {% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        Lista de Productos
    </div>    
    <div class="card-body">
        <table class="table">
            <thead>
                
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Fecha</th>
                    <th>Accion</th>
                </tr>
            </thead>  
            <tbody>
                {% for producto in Producto %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.fecha_creacion }}</td>
                    <td> 
                        <a href="{% url 'editar' producto.id %}" id="" class="btn btn-info" role="button">Editar</a> 
                        | 
                        <a href="{% url 'eliminar' producto.id %}" id="" class="btn btn-danger" role="button">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}